@import "mixin";

$cWhite: white;
$cBlack: black;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
$cSubtitle: #535353;
$cBase:dimgray;
$cBased:lightgray;

html {
  font-family:'Roboto', sans-serif;
  }

.cop {
  width: 100%;
  height: 50vh;
  // background-image: url(../img/c_fv2.jpg);
  // background-size: cover;
  // .cop_fv {
  //   font-size: 25px;
  //   font-weight: bold;
  //   padding-top: 10px;
  //   padding-left: 5px;
  // }
  // .cop_text {
    // width: 50%;
    // height: 50%;
    // font-weight: bold;
    // padding-top: 7px;
    // padding-left: 15px;
    // backdrop-filter: grayscale(100%);
    // -webkit-backdrop-filter: grayscale(100%);
  // }
  #slideshow {
    width: 100%;
    height: 100%;
  }
}

.about {
  width: 100%;
  // height: 80vh;
  .about_fv {
    // font-size: 25px;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 5px;
  }
  .about_detail {
    width: 90%;
    margin: 30px auto;
    background-color: #eaebe6;
    .about_img {
      position: relative;
      text-align: center;
      padding-top: 20px;
    }
    .about_title {
      width: 80%;
      margin: 0 auto;
      font-size: 18px;
      font-weight: bold;
      color: rgb(59, 61, 59);
      &--text {
        font-size: 12px;
        padding-top: 10px;
        line-height: 30px;
      }
    }
  }
}

.service {
  width: 100%;
  .service_fv {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 5px;
    }
  .service_content {
    width: 80%;
    margin: 0 auto;
    .service_title {
      padding-top: 20px;
      padding-left: 10px;
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: bold;
    }
    .service_img {
      width: 90%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgb(161, 161, 153);
      }
      &.inview {
        &::after {
          @include animation(
            $name: kf-service-img,
            $duration: 1.6s,
            $timing-function: ease-in-out
            );
        }
      }
    }
  }
  .service_text {
    width: 90%;
    margin: 0 auto;
    padding-top: 5px;
    font-size:15px;
  }
}
// ---------------------------------
@keyframes kf-service-img {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}
// ---------------------------------

.img_move {
  opacity: 0;
  .inview & {
    opacity: 1;
    transition: transform 0.3s ease;
    @include animation(
      $name: kf-img-show,
      $duration: 1.6s,
      $timing-function: ease-in-out,
      $fill-mode: normal
      );
    &:hover {
      transform: scale(1.2);
    }
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100%{
  opacity: 1;
  }
}

.hover-d {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // z-index: 3;
    transition: background-color 0.3s ease;
    pointer-events: none;
    &:hover::before {
      background-color: rgba(0,0,0,0.5);
    }
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.detail {
  width: 100%;
  .detail_fv {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 5px;
    }
  .detail_text {
    width: 90%;
    height: 300px;
    margin: 20px auto;
    background-color: #eaebe6;
    padding-left: 15px;
    padding-top: 20px;
    line-height: 30px;
  }
}

.footer {
  width: 100%;
  margin-top: 70px;
  .footer_content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    .footer_title {
      font-size: 20px;
      font-weight: bold;
    }
    .nav {
      padding-top: 30px;
    }
  }
}


// ハンバーガー


#container {
  position: relative;
  z-index: 2;
  transition: all 0.5s;
}
.header {
  background-color: $cWhite;
  display: flex;
  justify-content: space-between;
  .header_logo {
      line-height: 90px;
      margin-left: 20px;
      font-weight: bold;
      height: 90px;
      width: 120px;
  }
}
.mobile-menu {
  position: fixed;
  right: 0;
  top: 100px;
  width: 300px;
  &__btn {
      background-color: unset;
      border: none;
      outline: none !important;
      align-items: center;
      cursor: pointer;
      & > span {
          background-color: $cMenuClose;
          width: 35px;
          height: 2px;
          display: block;
          margin-bottom: 9px;
          transition: transform 0.7s;
          &:last-child {
              margin-bottom: 0;
          }
      }
  }
  &__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.3);
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s;
      cursor: pointer;
  }
  &__main {
      padding: 0;
      perspective: 2000px;
      transform-style: preserve-3d;
  }
  &__item {
      list-style: none;
      display: block;
      transform: translate3d(0, 0, -1000px);
      padding: 0 40px;
      transition: transform 0.3s, opacity 0.2s;
      opacity: 0;
  }
  &__link {
      display: block;
      margin-top: 30px;
      color: $cBlack;
      text-decoration: none;
  }
}

.menu-open {
  & #container {
      transform: translate(-300px, 60px);
      box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }
  & .mobile-menu {
      &__cover {
          opacity: 1;
          visibility: visible;
      }
      &__item {
          transform: none;
          opacity: 1;
          @for $i from 1 through 10 {
              &:nth-child(#{$i}) {
                  transition-delay: $i * 0.07s;
              }
          }
      }
      &__btn {
          & > span {
              background-color: $cMenuOpen;
              &:nth-child(1) {
                  transition-delay: 70ms;
                  transform: translateY(11px) rotate(135deg);
              }
              &:nth-child(2) {
                  transition-delay: 0s;
                  transform:  translateX(-18px) scaleX(0);
              }
              &:nth-child(3) {
                  transition-delay: 140ms;
                  transform: translateY(-11px) rotate(-135deg);
              }
          }
      }
  }
}

// デザイン
.main-title {
  font-weight: 600;
  font-size: 20px;
}

.sub-title {
  display: block;
  font-size: 14px;
  color: $cSubtitle;
}

.service_title {
  position: relative;
  color: #333;
  text-shadow: 0 0 2px white;
  border-bottom: solid 1px black;
}

.service_title:before {
  content: "";
  position: absolute;
  background: #eaebe6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  /* border: dashed 1px white; */
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

.big {
  font-size: 30px;
}

.f_a {
  color: $cSubtitle;
  font-size: 25px;
  background: linear-gradient(transparent 50%, #eaebe6 50%);

}

.t_a {
  color: $cSubtitle;
  font-size: 25px;
  background: linear-gradient(transparent 50%, #eaebe6 50%);
}

.header_nav {
    display: none;
}




#slideshow {
  position: relative;
  width:  640px;
  height: 270px;
}
#slideshow img {
  position: absolute;
  top: 0;
  left:0;
  z-index: 8;
  opacity: 0.0;
}
#slideshow img.active {
  z-index: 10;
  opacity: 1.0;
}
#slideshow img.last-active {
  z-index: 9;
}

.service_text {
  margin: 50px 0;
  font-weight: bold;
  }

  .fadeInDown {
   -webkit-animation-fill-mode:both;
   -ms-animation-fill-mode:both;
   animation-fill-mode:both;
   -webkit-animation-duration:1s;
   -ms-animation-duration:1s;
   animation-duration:1s;
   -webkit-animation-name: fadeInDown;
   animation-name: fadeInDown;
   visibility: visible !important;
  }
  @-webkit-keyframes fadeInDown {
   0% { opacity: 0; -webkit-transform: translateY(-20px); }
   100% { opacity: 1; -webkit-transform: translateY(0); }
  }
  @keyframes fadeInDown {
   0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
   100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
  }
